.fusion-dropdown-indicator,
.fusion-megamenu-icon,
.fusion-social-network-icon,
.fusion-main-menu-icon,
 #toTop,
 .arrow,
 .fusion-mobile-menu-icons {
    display: none!important;
}
.fusion-footer-widget-area .widget .recentcomments:before,
.fusion-footer-widget-area .widget_archive li a:before,
.fusion-footer-widget-area .widget_categories li a:before,
.fusion-footer-widget-area .widget_links li a:before,
.fusion-footer-widget-area .widget_meta li a:before,
.fusion-footer-widget-area .widget_nav_menu li a:before,
.fusion-footer-widget-area .widget_pages li a:before,
.fusion-footer-widget-area .widget_recent_entries li a:before,
.fusion-footer-widget-area .widget_rss li a:before,
.fusion-widget-area .widget .recentcomments:before,
.fusion-widget-area .widget_archive li a:before,
.fusion-widget-area .widget_categories li a:before,
.fusion-widget-area .widget_links li a:before,
.fusion-widget-area .widget_meta li a:before,
.fusion-widget-area .widget_nav_menu li a:before,
.fusion-widget-area .widget_pages li a:before,
.fusion-widget-area .widget_recent_entries li a:before,
.fusion-widget-area .widget_rss li a:before {
    content:  '';
}
.flex-nav-next a:after {
    content: ">";
    color: #fff;
    font-weight: 700;
    font-size: 14px !important;
}
.flex-nav-prev a:before {
    content: "<";
    color: #fff;
    font-weight:  700;
    font-size: 14px !important;
}
.flex-nav-next a {
    color: transparent !important;
    font-size: 0 !important;
}
.flex-nav-prev a {
    color: transparent !important;
    font-size: 0 !important;
}
#graph-body img {
    margin-bottom: 20px;
}
#graph-body p {
    text-align: justify;
}
#graph-body h4 {
    font-size: 20px;
}
.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    margin-bottom: 20px;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width:  768px) {
    #graph-body img {
        width:  100%;
        max-width: 100%;
    }
}